@media screen and (max-width: 1280px) {
    .decor {
        display: none;
    }
    .quality .decor,
    .about-us .decor {
        display: block;
    }
    .products {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
}

@media screen and (max-width: 1100px) {
    .articles-preview-layout {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .articles-preview-column {
        margin-top: 20px;
    }
    .article-preview:not(.article-thematic) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .article-preview:not(.article-thematic) .img-container {
        text-align: center;
    }
    .comments-and-thematic-layout {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .comments {
        margin-right: 0;
        width: 100%;
    }
    .thematic {
        margin-top: 25px;
    }
    .comments-and-thematic .title-2 {
        margin-bottom: 20px;
    }
    .wholesaler .collection-preview {
        background-position:
    }
    .wholesaler .collection-preview {
        background-position: -415px center;
        background-size: cover;
    }
}

@media screen and (max-width: 992px) {
    .conveyance-top {
        width: 80%;
    }
    .footer-categories::after, .footer-features::after, .footer-social::after {
        display: none;
    }
    .catalogue-categories,
    .pagination-top {
        display: none;
    }
    .filter-title {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .why-we-text {
        margin-right: 0;
    }
    .cart td:nth-child(1) .layout {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .cart td:nth-child(1) .layout > a {
        margin-right: 0;
    }
    .cart td, .cart th {
        padding: 15px;
    }
    .cart th {
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 768px) {
    body {
        line-height: normal;
        /*font-size: 12px;*/
    }
    /*h1,
    .title-1 {
        font-size: 24px;
    }*/
    h2,
    .title-2 {
        font-size: 24px;
    }
    .heading {
        font-size: 22px;
    }
    .container {
        padding: 0 15px;
    }
    .collection-preview, .catalogue-preview .btn, header .logo::before, header .logo::after, header .btn, .header-cart .amount-and-sum, header .number, header .callback, header .logo-img, .social-title  {
        display: none;
    }
    .wholesaler .collection-preview {
        display: block;
    }
    .menu-opener-container,
    .main-nav .callback-m,
    header .logo-img-m,
    .header-cart .amount {
        display: block;
    }
    .main-nav {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 104px;
    }
    .header-order {
        width: 15%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    .header-cart .amount {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: #2a140f;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 9px;
    }
    header {
        padding: 24px 0 25px;
    }
    header .logo {
        max-width: 50%;
    }
    .header-cart {
        height: 40px;
        margin-bottom: 0;
    }
    .main-nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }
    .main-nav li:not(:last-child) {
        margin-bottom: 15px;
    }
    .catalogue-preview {
        padding: 22px 0 0;
    }
    .advantages {
        padding: 40px 0;
    }
    .catalogue-preview-layout .product-section, .catalogue-preview-layout .discount-preview {
        width: 100%;
        -webkit-box-shadow: 0 0 9px 0 rgba(117, 117, 117, 0.29);
                box-shadow: 0 0 9px 0 rgba(117, 117, 117, 0.29);
    }
    .catalogue-preview .product-section::before, .catalogue-preview .discount-preview::before {
        width: 35px;
        height: 35px;
        top: 10px;
        right: 10px;
    }
    .catalogue-preview .product-section {
        padding: 65px 0 7px;
        margin-bottom: 8px;
    }
    .product-section h2 {
        font-size: 18px;
        text-transform: none;
        margin-top: -13px;
    }
    .product-section img {
        max-width: 90%;
    }
    .catalogue-preview .discount-preview {
        padding: 34px 0 18px;
    }
    .discount-preview-value {
        font-size: 44px;
    }
    .advantages {
        padding: 40px 0 10px;
    }
    .advantage {
        width: 45%;
        margin-bottom: 20px;
    }
    .conveyance {
        padding: 43px 0 20px;
    }
    .conveyance h2 {
        margin-bottom: 0;
        line-height: 38px;
    }
    .conveyance-caption {
        margin-bottom: 24px;
    }
    .conveyance-item-container {
        width: 100%;
    }
    .conveyance-item-container.rus-post,
    .conveyance-item-container.pek-post {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 19px 20px 16px;
    }
    .conveyance-item h3 {
        font-size: 19px;
        padding: 19px 0 12px;
    }
    .conveyance-item p {
        padding: 15px 0 11px;
    }
    .conveyance-item-container.pek-post {
        -webkit-filter: none;
                filter: none;
        background-image: none;
    }
    .quality {
        padding: 15px 0 100px;
    }
    .double-text-layout p {
        width: 100%;
        font-size: 12px;
        letter-spacing: 1.4px;
        line-height: 26px;
        margin: 0 auto 20px;
    }
    .filter-title {
        margin-bottom: 0;
        padding-bottom: 15px;
    }
    footer {
        background-image: url(../img/background-footer-m.png);
    }
    .footer-top .footer-top-layout {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }
    .footer-top .footer-categories li, .footer-top .footer-features li {
        margin-bottom: 18px;
    }
    .footer-top {
        padding-bottom: 28px;
    }
    .footer-bottom {
        padding-left: 0;
    }
    .footer-bottom-layout > div {
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }
    .footer-social {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .footer-bottom-layout {
        padding: 0;
    }
    .footer-bottom .author {
        font-size: 0;
        margin-top: 10px;
    }
    .footer-social-list {
        margin-top: 20px;
        width: 130px;
        max-width: 100%;
    }
    .footer-social-list a {
        width: 25px;
        height: 25px;
    }
    .footer-social-list a.social-vk {
        width: 31px;
        height: 19px;
    }
    .footer-social-list a.social-inst {
        width: 23px;
        height: 23px;
    }
    .footer-social-list a.social-fb {
        width: 13px;
        height: 24px;
    }
    .footer-categories::after, .footer-features::after, .footer-social::after {
        display: none;
    }
    .footer-contacts {
        position: relative;
        width: 100%;
        padding-top: 25px;
        margin-top: 10px;
    }
    .footer-contacts::before {
        content: "";
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        display: block;
        border-top: 1px dashed #421403;
        border-bottom: 1px dashed #875440;
    }
    .footer-contacts .number {
        margin-bottom: 20px;
    }
    .footer-bottom::before {
        left: 15px;
        right: 15px;
    }
    .xs-only {
        display: block !important;
    }
    .xs-not {
        display: none !important;
    }
    .breadcrumbs {
        display: none;
    }
    .catalogue h1 {
        text-align: center;
        margin-bottom: 35px;
    }
    .product-preview.discount::before {
        width: 45px;
        height: 45px;
    }
    .about-us {
        padding: 54px 25px 10.1%;
    }
    .about-us h2 {
        text-align: center;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 111px;
    }
    .about-us .decor img:nth-child(1) {
        top: 100px;
        right: 50%;
        -webkit-transform: translateX(50%);
                transform: translateX(50%);
    }
    .pagination-bottom {
        margin-bottom: 49px;
    }
    .review {
        font-size: 12px;
        padding: 20px 10px 10px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .reviews .slick-dots {
        -webkit-transform: none;
                transform: none;
        right: 0;
        top: unset;
    }
    .thumbnails {
        display: none;
    }
    .product-previews {
        width: 100%;
    }
    .product .product-info {
        padding-left: 0;
    }
    .product .price-container {
        text-align: center;
        margin: 15px auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-ordinal-group: -1;
            -ms-flex-order: -2;
                order: -2;
    }
    .product .old-price {
        margin-right: 0;
    }
    .size-container-top {
        margin: 0;
    }
    .size-container-top a {
        display: none;
    }
    .size-container-top b {
        display: block;
        margin: 0 auto 10px;
    }
    .size-container {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        background-color: #f1f0f0;
        padding: 20px;
        margin-bottom: 20px;
    }
    .delivery-advantages .delivery-advantages-layout {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        /*padding-left: 100px;*/
    }
    .delivery-advantages .delivery-advantage:last-child {
        margin-bottom: 40px;
    }
    p.hint {
        display: none;
    }
    .post-list {
        width: 100%;
    }
    .delivery-advantages .conveyance-layout {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .delivery-advantages .container {
        padding: 0;
    }
    .advantages-list {
        padding: 0 15px;
    }
    .more-about-delivery .more-about-delivery-layout {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .delivery-info-titles {
        margin-top: 20px;
    }
    .delivery-info,
    .delivery-info-titles {
        width: 100%;
        margin-right: 0;
        line-height: 26px;
    }
    .delivery-info-titles {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .btn.btn-delivery {
        font-size: 10px;
    }
    .product .prop {
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .btn.btn-add-cart {
        background-image: url(../img/btn.png);
        padding: 10px 0;
        height: 41px;
        width: 183px;
        margin: 0 auto;
        display: block;
    }
    .btn.btn-add-cart:hover {
        background-image: url(../img/btn-hover.png);
    }
    .article-filter {
        font-size: 11px;
    }
    .comments-and-thematic .container, .article .container {
        padding: 0 20px;
    }
    .article,
    .article h2,
    .accentuated {
        font-size: 12px;
    }
    .article .head-note {
        font-size: 16px;
    }
    .article p {
        margin-bottom: 20px;
    }
    .article .bottom-line {
        margin-bottom: 20px;
    }
    .article h2 {
        margin-bottom: 10px;
    }
    .article .accentuated {
        margin-bottom: 40px;
        margin-top: 40px;
        padding: 15px;
    }
    .article .img-container, .article .video-container {
        margin-bottom: 15px;
    }
    .article-top {
        margin: 0 20px;
    }
    .feature-layout {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .feature {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        text-align: left;
        width: 100%;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .feature .img-container {
        width: 25%;
        margin-right: 15px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    }
    .wholesaler .collection-preview .container {
        padding: 40px 0 20px 25.8%;
    }
    .wholesaler {
        padding-top: 0;
        position: relative;
        top: -5px;
        margin-bottom: -5px;
    }
    .why-we {
        font-size: 12px;
    }
    .form-title {
        font-size: 14px;
    }
    .cart {
        /*width: 360px;*/
        max-width: 90%;
        max-width: calc(100% - 30px);
    }
    .cart thead {
        display: none;
    }
    .cart-body tr {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .cart td:nth-child(2) {
        display: none;
    }
    .cart td:nth-child(4) {
        text-align: center;
    }
    .cart-body td:last-child {
        position: absolute;
        top: 0;
        right: 0;
    }
    .cart-body tr:not(:last-child) {
        border-bottom: 1px dashed #d9b9a1;
    }
    .cart td:nth-child(1) .layout > a {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-top: 20px;
    }
    .cart-body tr:not(:first-child) td {
        border-top: none;
    }
    .order-page .cart-title::before {
        margin-top: -4px;
    }
    .result {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .result span {
        margin-bottom: 5px;
    }
    .result .sum {
        margin: 0 0 20px;
    }
    .cart .close {
        width: 30px;
        height: 30px;
    }
    .steps form .layout {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .steps form .layout .btn {
        margin: 10px 0;
    }
    .steps .btn-back {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .choose-layout {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .info-form .input-container > input {
        width: 100%;
        max-width: 100%;
    }
    .catalogue-content {
        padding-top: 2px;
    }
    .btn-delivery-container {
        padding-left: 50px;
    }
    .product-top-container {
        padding-top: 34px;
        padding-bottom: 47px;
    }
    .product {
        margin-top: 0;
    }
    .slick-initialized .preview.slick-slide {
        padding: 0 15px;
    }
    .product .price-container {
        margin: 15px auto;
    }
    .reviews .slick-list {
        padding: 0 10px !important;
    }
    .delivery-advantages {
        padding-top: 32px;
    }
    .delivery-advantages h2 {
        margin-bottom: 10px;
    }
    .delivery-advantages .delivery-advantage {
        padding-left: 100px;
    }
    .delivery-advantages .conveyance-item p {
        padding-bottom: 19px;
    }
    .more-about-delivery {
        padding-top: 29px;
    }
    .more-about-delivery .toggle-link-header {
        margin-bottom: 15px;
    }
    .recommended h2 {
        margin-bottom: 10px;
    }
    .recommended .product-preview .img-container {
        padding-top: 60px;
        margin-bottom: 5px;
    }
    .recommended .btn {
        margin-top: 12px;
        width: 206px;
    }
    .recommended .slick-dots {
        bottom: 60px;
    }
    .article-preview .article-preview-info {
        padding: 27px 12px;
    }
    .subscribe {
        padding: 75px 5px 99px;
    }
    .subscribe-form-container {
        padding: 44px 38px 30px;
    }
    .subscribe p {
        line-height: normal;
        margin-bottom: 29px;
    }
    .article-top {
        padding-top: 170px;
    }
    .why-we h2 {
        margin-bottom: 25px;
    }
    .cart td:nth-child(3) {
        padding: 5px 15px;
    }
}

@media screen and (max-width: 480px) {
    .btn {
        padding: 12px 0;
    }
    .product-preview {
        width: 100%;
        -webkit-box-shadow: 0 0 16px 0 rgba(71, 71, 71, 0.17);
        box-shadow: 0 0 16px 0 rgba(71, 71, 71, 0.17);
    }
    .product-preview:hover {
        width: 100%;
        -webkit-box-shadow: 0 0 16px 0 rgba(71, 71, 71, 0.17);
        box-shadow: 0 0 16px 0 rgba(71, 71, 71, 0.17);
    }

    .product-preview img {
        max-width: 80%;
        margin: 0 auto;
    }
    .product-preview .img-container {
        height: unset;
    }
    .catalogue .product-preview .btn {
        width: 192px;
        height: 43px;
        padding: 14px 0;
        margin: 10px auto 0;
    }
    .pagination {
        width: 100%;
    }
    .pagination .prev a,
    .pagination .next a {
        height: 38px;
        width: 137px;
        padding: 10px 12px;
        padding-left: 43px;
    }
    .pagination li:not(.prev):not(.next) {
        display: none;
    }
    .article-preview img,
    .article-preview.article-preview-large img,
    .article-preview.article-preview-video img {
        width: 100%;
        height: auto;
    }
    .article .container {
        padding: 0;
    }
    .article-preview.article-thematic .img-container {
        display: none;
    }
    .article-preview.article-thematic .article-preview-info {
        width: 100%;
    }
    .thematic {
        width: 100%;
    }
    .btn-add-comment {
        width: 100%;
    }
    .article {
        background-color: #ffffff;
    }
    .article-body {
        padding-left: 15px;
        padding-right: 15px;
    }
    .article-top {
        margin: 0 15px;
    }
    .wholesaler .collection-preview {
        background-position: -430px center;
    }
    .images-and-text-layout {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .images-and-text-layout div {
        margin-right: 0;
        margin-bottom: 20px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .images-and-text-layout div img:not(:last-child) {
        margin-bottom: 0;
        margin-right: 10px;
    }
    .discounts-item span {
        font-size: 24px;
        bottom: -4px;
        margin: 0;
    }
    .xxs-only {
        display: block !important;
    }
    .xxs-not {
        display: none !important;
    }
}
